{% extends "user/layouts/main.html" %}
{% block content %}
<!-- wpf loader Two -->
{% include "../widgets/loader.html" %}
<!-- / wpf loader Two   <-->    
<!-- SCROLL TOP BUTTON -->
{% include "../widgets/scroll.html" %}
<!-- END SCROLL TOP BUTTON -->

<!-- Start header section -->
{% include "../widgets/header.html" %}
<!-- / header section -->
<!-- menu -->
{% include "../widgets/menu.html" %}
<!-- / menu -->
<!-- Start slider -->
{% include "../widgets/slider.html" %}
<!-- / slider -->
<!-- Start Promo section -->
{% include "../widgets/promo.html" %}
<!-- / Promo section -->
<!-- Products section -->
{% include "../widgets/product.html" %}
<!-- / Products section -->
<!-- banner section -->
{% include "../widgets/banner.html" %}
<!-- popular section -->
{% include "../widgets/popular.html" %}
<!-- / popular section -->
<!-- Support section -->
{% include "../widgets/support.html" %}
<!-- / Support section -->
<!-- Testimonial -->
{% include "../widgets/testimonial.html" %}
<!-- / Testimonial -->

<!-- Latest Blog -->
{% include "../widgets/blog.html" %}
<!-- / Latest Blog -->

<!-- Client Brand -->
{% include "../widgets/client.html" %}
<!-- / Client Brand -->

<!-- Subscribe section -->
{% include "../widgets/subscribe.html" %}
<!-- / Subscribe section -->

<!-- footer -->  
{% include "../widgets/footer.html" %}
<!-- / footer -->

<!-- Login Modal -->  
{% include "../widgets/modal.html" %}   

{% endblock content %}